@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: white;
    box-sizing: border-box;
}

.color-pick-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
    padding: 1.5rem;
}

.color-pick-wrap input{
    margin-right: 1rem;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
}

.color-pick-wrap .select-wrap{
    margin-right: 1rem;
}

.color-pick-wrap button{
    background-color: #3D4B60;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s ease;
}

.color-pick-wrap button:hover{
    background-color: white;
    color: #1F2937;
}

select{
    border: 1px solid white;
    padding: 1rem;
    width: 20rem;
    cursor: pointer;
    margin-right: 1rem;
}

select,
::picker(select) {
  appearance: base-select;
  color: black;
}

::picker(select){
    border-radius: 0 0 1rem 1rem;
}

select::picker-icon{
    color: white;
    content: url('icons-images/chevron-down-solid-full (2).svg');
    width: 20px;
}

#select-color option{
    color: white;
    cursor: pointer;
    background-color: #1F2937;
    padding: 1rem;
    margin-left: auto;
}

option::checkmark{
   content: "";
}

.icon-wrap{
   text-align: end; /* Icons work like text not elements!!! */
    width: 100%;
}

.icon-wrap i{
    color: #5A8DFF;
}

option:checked{
    font-weight: bold;

    .icon-wrap{
        display: block;
    }
}

#color-pallette{
    display: flex;
    width: 100%;
}

.color-name{
    background-color: #1F2937;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

.color-bar{
    height: 100%;
}

.color-bar-wrap{
    width: 100%;
    height: 78.5vh;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 660px) {
  #color-btn {
    margin-top: 1rem;
  }

  .color-pick-wrap{
    flex-direction: column;
    justify-content: center;
  }

  .color-pick-wrap input{
    margin-right: 0;
    margin-bottom: 1rem;
    width: 8rem;
  }

  select{
    margin-right: 0;
  }
}
