@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: white;
    box-sizing: border-box;
}

.color-pick-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
    padding: 1.5rem;
}

.color-pick-wrap input{
    margin-right: 1rem;
}

.color-pick-wrap .select-wrap{
    margin-right: 1rem;
}

.color-pick-wrap button{
    background-color: #3D4B60;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;
}

.select-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    height: 5rem;
}

.select-wrap select{
    background-color: #1F293A;
    border: #D1D5DB solid 2px;
    width: 25rem;
    padding: 0 1rem 0 1rem;
    font-size: 1.25rem;
}

.select-wrap .icon-container{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 100%;
}

.icon-container i{
    font-size: 1.25rem;
}

